* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", sans-serif;
}

#menu {
    width: 1024px;
    height: 512px;
}

#_menu {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
}

li {
    display: inline;
    border-style: solid;
    border-width: 2px;
    margin: -3px;
    padding-right: 7%;
    padding-left: 7%;
}

header {
    width: 1024px;
    background-color: orange;
}

footer {
    width: 1024px;
    height: 32px;
    padding-top: 16px;
    background-color: purple;
    text-align-last: center;
}

#id2, #id3, #id4 {
    background-color: burlywood;
}

#id5 {
    padding-right: 13%;
}
